
body {
  background-color: rgb(214, 214, 214);
  font-family: Jost;
  font-weight: medium;
  font-style: italic;
  font-size: 1.2em;
}

::selection {
  background-color: rgb(255, 255, 177);
}

:visited {
  color: tomato;
}

a {
  color: black
}

.flex-header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.flex-header>div a {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.nav-item.active a {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  /* Sombreado */
  background-color: rgb(249, 146, 128);
  /* Color de fondo */
  color: white !important
}

.header {
  margin-top: 50px;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.line {
  border-bottom: 1.4px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  margin: 0 auto;
  width: 60%;
  height: 8px;
  display: block;
}
