.blog-body {
    min-height: 35vh;

}

.blog-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.blog-text {
    margin-bottom: 60px;
    text-align: justify;
}
.blog-class {
    margin: 0 600px;
    margin-top: 200px;
}

.blog-header {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: 0 auto;

  }