/* Movies and TV Page */
.poster-container {
    display: grid;
    grid-auto-rows: minmax(400px, auto);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    grid-gap: 30px;
  }
  
  .movie {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .movie:hover img {
    transform: scale(1.1);
  }
  
  .movie::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .movie:hover::before {
    opacity: 1;
    
  }
  
  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    transform: translateY(100%);
  }
  
  .movie:hover .info {
    transform: translateY(0);
  }
  
  .not-seen {
    filter: grayscale(100%);
  }