/* Movies and TV Page */
.poster-container {
    display: grid;
    grid-auto-rows: minmax(400px, auto);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    grid-gap: 30px;
  }


.movie {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }
  
.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  
.movie::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
.movie:hover::before {
    opacity: 1;
    
  }
.movie:hover img {
    transform: scale(1.1);
  }
  
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    font-size: 35px;
    font-family: "Jost";
  }
  
.movie:hover .info {
    transform: translateY(0);
  }
  
.not-seen {
    filter: grayscale(100%);
  }

.currently-watching {
    background-color: #ffa500; /* Elije el color que prefieras */
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
  }

.coming-next {
    background-color: #68c852; /* Elije el color que prefieras */
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
  }
