body {
  background-color: #f5f5f5;
  font-family: "Jost";
  font-weight: medium;
  font-size: 16px;
}

.main {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 12.5%;
}

/* Seleccionar subrayado */
::selection {
  background-color: rgb(255, 255, 177);
}

/* Enlaces visitados */
/* :visited {
  color: black
} */

/* Enlaces */
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Estilizado del símbolo " > " en negro */
.col-red {
  color: tomato;
}

/* Contenedor para el Flexbox -> logo, navigation */
.home-container {
  display: flex;
  flex-direction: row;
}

/* Todo lo referente al logo */
.logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  
}

.logo img {
  max-width: 100%;
}

/* Todo lo referente a la lista de navegación de homepage */
.navigation {
  display: flex;
  flex: 1;
  margin-bottom: 10rem;
}

.navigation li {
  align-items: center;
  list-style: none;
  margin-left: -1.5rem;
  margin-top: 0.3rem;

}
.navigation ul {
  margin-top: 7.7em;
}

.navigation a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* HEADER de secciones (enlaces de la izquierda */
.flex-header {
  position: fixed;
  top: 250px;
  left: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.flex-header a {
  color: black;
}

.flex-header .active a {
color: tomato;
}


/* BLOG STYLING */
  
.blog-body {
  min-height: 35vh;
}

.blog-title {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 20px;
}

.blog-text {
  margin-bottom: 75px;
  text-align: justify;
  font-size: 0.9em;
}

.blog-class {
  margin: 0 600px;
  margin-top: 200px;
}

.blog-header {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  text-align: center;
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 50%;
  margin: 0 auto;
}

.remarcar {
background-color: rgb(255, 255, 177);
}

.bold {
font-weight: bold;
}

p {
font-size: 15px;
line-height: 1.4;
margin-bottom: 20px;
}

blog-text, ul {
margin-top: -10px;
margin-bottom: 22px;
}

/* Media queries */

@media screen and (max-width: 800px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .home-container {
    display: block;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo img {
    max-width: 300px;
  }
  
  .navigation {
    display: absolute;
    top: 0%;
  }

  .navigation ul {
    margin: 0;
    padding: 0;
    margin-left: 2em;
    margin-bottom: 10em;
    margin-top: -8em; /* Ajusta el valor negativo para subir la lista */

  }
  
  .navigation li {
    align-items: center;
    list-style: none;
    margin-left: -1.5rem;
    margin-top: 0.3rem;
  }


}